body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.imgLeft {
  width: 50%;
  float: left;
  padding: 20px;
}

.imgRight {
  float: right;
  width: 50%;
  padding: 20px;
}